{% extends "base.html" %}
{% load static %}
{% load carts_tags %}

<!-- Основной контент -->
{% block content %}
    <main>
        <div class="container">
            <div class="page-header">
                <h1>Корзина</h1>
            </div>

            {% user_carts request as carts %}
            
                <div class="cart-container" id="cart-items-container">
                    <!-- Левая сторона - все товары в одном контейнере -->
                    {% include "carts/includes/cart_items.html" %}
                </div>
        </div>
    </main>
{% endblock %}