{% extends "base.html" %}
{% load static %}

<!-- Основной контент -->
{% block content %}
    <main>
        <div class="container">
            <div class="auth-container">
                <div class="auth-tabs">
                    <a href="{% url 'users:registration' %}" class="auth-tab {% if request.resolver_match.url_name == 'registration' %}active{% endif %}">
                        Регистрация
                    </a>
                    <a href="{% url 'users:login' %}" class="auth-tab {% if request.resolver_match.url_name == 'login' %}active{% endif %}">
                        Вход
                    </a>
                </div>
                <div class="auth-content">
                    <!-- Форма входа -->
                    <div class="auth-form active" id="login-form">
                        <h2>Вход в аккаунт</h2>
                        <form action = "{% url 'user:login' %}" method="post">
                            {% csrf_token %}
                            {% if request.GET.next %}
                                <input type="hidden" name="next" value={{ request.GET.next }}>
                            {% endif %}
                            <div class="form-group">
                                <label for="id_username">Логин</label>
                                <input type="text" class='form-control' 
                                value="{% if form.username.value %}{{ form.username.value }}{% endif %}" 
                                name='username' id="id_username" placeholder="Введите ваш логин">
                            </div>
                            <div class="form-group">
                                <div class="label-with-link">
                                    <label for="password">Пароль</label>
                                    <a href="#" class="forgot-password">Забыли пароль?</a>
                                </div>
                                <input type="password" class='form-control' name='password' id="id_password" placeholder="Введите ваш пароль">
                            </div>
                            <button type="submit" class="btn btn-primary btn-full">Войти</button>

                            {% comment %} <div class="form-group">
                                <label for="{{ form.username.id_for_lable }}">Email</label>
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password.id_for_lable }}">Пароль</label>
                                {{ form.password }}
                                <a href="#" class="forgot-password">Забыли пароль?</a>
                            </div>
                            <button type="submit" class="btn btn-primary btn-full">Войти</button>  {% endcomment %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
