{% extends "base.html" %}
{% load static %}

<!-- Основной контент -->
{% block content %}
    <main>
        <div class="container">
            <div class="auth-container">
                <div class="auth-tabs">
                    <a href="{% url 'users:login' %}" class="auth-tab {% if request.resolver_match.url_name == 'login' %}active{% endif %}">
                        Вход
                    </a>
                    <a href="{% url 'users:registration' %}" class="auth-tab {% if request.resolver_match.url_name == 'registration' %}active{% endif %}">
                        Регистрация
                    </a>
                </div>
                <div class="auth-content">
                    <!-- Форма регистрации -->
                    <div class="auth-form active" id="form">
                        <h2>Создать аккаунт</h2>
                        <p class="auth-description">Зарегистрируйтесь, чтобы делать заказы и отслеживать их статус</p>
                        <form>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="first-name">Имя</label>
                                    <input type="text" id="first-name">
                                </div>
                                <div class="form-group">
                                    <label for="last-name">Фамилия</label>
                                    <input type="text" id="last-name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email-register">Email</label>
                                <input type="email" id="email-register" placeholder="example@mail.ru">
                            </div>
                            <div class="form-group">
                                <label for="phone">Телефон</label>
                                <input type="tel" id="phone" placeholder="+7 (___) ___-__-__">
                            </div>
                            <div class="form-group">
                                <label for="password-register">Пароль</label>
                                <input type="password" id="password-register">
                            </div>
                            <div class="form-group">
                                <label for="confirm-password">Подтвердите пароль</label>
                                <input type="password" id="confirm-password">
                            </div>
                            <button type="submit" class="btn btn-primary btn-full">Зарегистрироваться</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
